# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build outputs
dist
build
.rsbuild

# Dependencies
node_modules

# Logs
*.log

# Environment files
.env
.env.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db
