@import '@fortawesome/fontawesome-free/css/all.css';
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    body {
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
      background-color: #f8fafc;
      overflow: hidden; /* 防止滚动 */
    }

    /* 自定义流体动画层 */
    .orb-layer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      mix-blend-mode: multiply;
      filter: blur(10px);
      transition: all 0.5s ease-in-out;
    }